[Unit]
Description=Electroria Docker Compose Stack
Requires=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=/var/www/electroria/infra
ExecStart=/usr/bin/docker compose --env-file /var/www/electroria/infra/.env -f /var/www/electroria/infra/docker-compose.yml up -d --build
ExecStop=/usr/bin/docker compose --env-file /var/www/electroria/infra/.env -f /var/www/electroria/infra/docker-compose.yml down
TimeoutStartSec=0

[Install]
WantedBy=multi-user.target
